.username{
  width: 100%;
  border-radius: 15px;
  border-color: #eb445a;
  height: 2.5em;
  padding-left: 0.5em;
  margin-bottom: 1em;
  font-family: Arial;


}
.username::placeholder{
  color: black;
  font-family: Arial;
}
