
*{
  margin: 0;
}


.container {
  text-align: center;

  height: 100%;
  width: 100%;
  display: flex;

}


.btn{
background: transparent;
border-radius: 50px;
  width: 100%;
  margin-top: 2em;
  text-decoration: none;
  color: #eb445a;
  margin-left: 2px;
}

.input1{

margin-top: 2em;
}
.btn1{
  background: transparent;
  border-radius: 50px;

    margin-top: 2em;
    margin-bottom: 2em;
  }
.logtext {
  font-size: 70px;
  line-height: 4em;
  margin-bottom: 4em;
  font-family: cursive;



}





